body {
    background-color: #86626e;
    color: #e2e4f6;
    font-family: Verdana;
    text-align: center;
}

.extreme {
    color: #e7c8dd;
    font-size: 0.5em;
}

.navzone {
    color:#dbafc1;
    font-size: 0.75em;
}

ul {
    list-style-type: none;
}

a {
    color:#defffc;
}

.content {
    color: #e2e4f6;
}

h1 {
    text-shadow: 2px 2px #defffc;
    opacity: 0.8;
}
