h1 {
    color: green;
    position: fixed;
    text-align: right;
}

ul {
    color: red;
}

h3 {
    color: grey;
    opacity: 0.8;
}

li {
    text-align: center;
}

p {
    text-align: left;
    color: blue;
    background: black;
}